<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Create:A.N. Abdul Rahman,Semesta_Hackton 2021,Website Covid-19" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="icon" href="/icons/icon.png">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#780000"/>
    <title>Semesta_Hackton</title>
  </head>
  <body>
    <!-- Navigasi -->
        <nav-bar></nav-bar>
        <carousel-bar></carousel-bar>
        <main id="mainContent"></main>
  </body>
</html>
