<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Create:A.N. Abdul Rahman,Semesta_Hackton 2021,Website Covid-19" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="icon" href="/icons/icon_512x512.png">
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="#780000"/>
  <title>Semesta_Hackton</title>
</head>
<body>
  <!-- Navigasi -->

  <nav-bar></nav-bar>
  <carousel-bar></carousel-bar>

  <main id="mainContent"></main>
  <!--
  <database-bar></database-bar>
-->
<footer-bar></footer-bar>
      <!--
        // Your web app's Firebase configuration
        var firebaseConfig = {
          apiKey: "AIzaSyBpOUwuZcIdne0CilYHJlFScrC_-9cquqo",
          authDomain: "hackton-semesta.firebaseapp.com",
          projectId: "hackton-semesta",
          storageBucket: "hackton-semesta.appspot.com",
          messagingSenderId: "4486192005",
          appId: "1:4486192005:web:78c9bb7b1bfeb1976142ec"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
      </script>
      <script>
      -->
    </body>
    </html>
