html {
    scroll-behavior: smooth;
    height: 3000px;
  }
  /* navbar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .topnav a:hover {
    color: #000;
    border-bottom: 3px solid #af0404;
  }
  
  .topnav a.active {
    border-bottom: 3px solid #af0404;
  }
  /* akhir navigasi */
  /* carousel */
  .carousel-item img{
      max-height: 600px;
  }
  /* style covid */
  .card i {
    font-size: 22px;
    color: #DA0037!important;
  }
  .row img{
    max-width: 300px!important;
  }